# Python compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
myvenv/
env/
.venv/

# Local database (optional: skip if submitting project data)
*.sqlite3

# Environment variables & secrets
.env

# VS Code directory settings
.vscode/